.header{
    
    background-color: rgb(55, 63, 80) ;
    width:100%;
    height: 200px;

}
.topnav{
    background-color: rgb(55, 63, 80) ;
    
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color:cornsilk;
    color: black;
  }
.topnav a.split {
    float: left;
    background-color:rgb(55, 63, 80) ;
    color: rgb(55, 63, 80) ;
  }
  .active {
    background-color: rgb(55, 63, 80) ;
  }
  .searchbar{
    float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 280px;
  font-size: 17px;
  top: 355px;
  display:inline;
  
               

  }

  .loginicon{
    width: 42.79px;
        height: 42.79px;
        background-color: transparent !important;
        display: flex;
;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 50%;
    line-height: 2.625rem;
    text-align: center;
    margin-top: 8px;
    margin-left: 900px;
    float:left;


    }
    .cart{
        width: 42.79px;
        height: 42.79px;
        background-color: transparent !important;
        display: flex
;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 50%;
    line-height: 2.625rem;
    text-align: center;
    margin-top: -33px;
    margin-left: 315px;
    float:left;



    }
.logo img{
    

    
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding-right: var(--bs-gutter-x, .9375rem);
    padding-left: var(--bs-gutter-x, .9375rem);
    margin-right: 8px;
    margin-left: 18px;
    margin-top: 8px;

}
.selective{
    position: relative;
  font-family: Arial;

}
.bigupdate{
    background-color: #42d697 !important;
    height: 40px;
}
.textc{
    color:#fff;
}
.firstsec{
    height: 400px;
}
.bannerselection{
    width: 100%;
    height:100px;
    
    position: relative;
} 
.secondsec{
    height: 400px;
}
.respond{
    padding: 0 6px;
  float: left;
  width: 24.99999%;
}
.rowimage image{
    width: 100%;
  height: auto;
}
.rowimage{
    border: 1px solid #ccc;
}


.footer{
    
    background: rgba(78, 84, 200, .15);
    
        background-color:rgb(49, 54, 62) ;
        padding: 10px;
        text-align: center;
        color: white;
        bottom: 0;
        position:fixed;
        width:100%;
        height:63px;
        
        
      
    
}
  .social{
    padding: 10px;
    text-align:right;
    color: white;
    bottom: 0;
    position:fixed;
    width:-1px;
    height:45px;
    margin-top: 12px;
    margin-right: auto;
    margin-left: 1200px;
    box-sizing: border-box;
    
    
  }
  .socialicon{
    font-size: 2rem;
    
    color: darkgray;
  }
  .condition{
    width: 800px;
    float:left;
    height: 70px;
    
    background-color:rgb(49, 54, 62) ;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: -10px;
    display:inline-block;
    

  }
  
  ul{
    float:left;
    display:flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  ul li a{
    text-decoration: :none;
    color:grey;
    font-family:arial;
    float: left;
    color:grey;
    text-align:center;
    padding: 14px ;
    text-decoration: none;
    font-size: 15px;

    
  }
  ul li a:hover{
    color: azure;
  }
  .copylink{
    width: 800px;
    margin-top: -33px;
    height: 70px;
    display:inline-block;
    
  }
  .click{
    
  }